%html
  %body
    .container
      -#%form.form-horizontal
        .form-group
        .form-group
          %h2.text-center Volunteer Reminder System
        .form-group
        .form-group
          %h3.text-center Please log in
        .form-group
          %label.col-sm-1.control-label.col-sm-offset-3 Email
          .col-sm-4
            %input.form-control#email_input{:type=>"email", :placeholder=>"Email"}
        .form-group
          %label.col-sm-1.control-label.col-sm-offset-3 Password
          .col-sm-4
            %input.form-control#password_input{:type=>"password", :placeholder=>"Password"}
        .form-group
          .col-sm-3.col-sm-offset-4
            %label.checkbox
              %input#remember_me{:type=>"checkbox"}
              Remember me
          .col-sm-1
            = link_to "Log in", events_path, :class => "btn btn-default"
      =render "devise/sessions/login"