.container
	.col-sm-offset-3.col-sm-7{:style => "margin-bottom:15px;"}
		= link_to 'Cancel', event_rotations_path(@event), :class => "btn btn-default", :style => "float:right;"
		.h2 Edit shift
	= render 'form-edit'