%h1 Listing shifts

%table
  %tr
    %th Title
    %th Description
    %th Start Time
    %th End Time

    - @shifts.each do |shift|
      %tr
        %td= shift.title
        %td= shift.description
        %td= shift.start
        %td= shift.end