%div{:style=>"background-color:#00DDDD"}
	.container
		.row
			.col-sm-5
				%h2 Volunteer Reminder System
			.col-sm-7
				%br
				%button.btn.btn-default{:style=>"position:absolute;right:0px;vertical-align:center"} Log out